@inject AuthenticationStateProvider AuthenticationStateProvider
@inject DiscordSocketClient Client
@inject NavigationManager NavigationManager
@inject UserManager<DiscordUser> UserManager

<AuthorizeView>
	<Authorized>
		<ul class="navbar-nav">
			<BarItem>
				<img height="40" width="40" class="nav-item border-dark img-thumbnail rounded-circle" src="@Avatar" />
				<span>Hello @context.User.Identity.Name!</span>
			</BarItem>

			<BarItem>
				<Form action="logout" method="post">
					<Button Type="ButtonType.Submit" Color="Blazorise.Color.Primary">Logout</Button>
				</Form>
			</BarItem>
		</ul>
	</Authorized>

	<NotAuthorized>
		<BarItem>
			<Form action="login" method="get">
				<input name="redirectUrl" value="@NavigationManager.ToBaseRelativePath(NavigationManager.BaseUri)" hidden />
				<Button Type="ButtonType.Submit" Color="Blazorise.Color.Primary">Log-in with Discord</Button>
			</Form>
		</BarItem>
	</NotAuthorized>
</AuthorizeView>

@code{
	[CascadingParameter]
	private Task<AuthenticationState> authenticationState { get; set; }

	private string Avatar { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var state = await authenticationState;
		var user = state.User;

		if (user.Identity.IsAuthenticated)
		{
			var appuser = await UserManager.GetUserAsync(user);
			var discorduser = Client.GetUser(appuser.Id);

			Avatar = discorduser.GetAvatarUrl();
		}
	}
}
