@inject AuthenticationStateProvider AuthenticationStateProvider
@inject DiscordSocketClient Client
@inject NavigationManager NavigationManager

<AuthorizeView>
	<Authorized>
		<ul class="navbar-nav">
			<li>
				<a href="myhome"><img height="40" width="40" class="nav-item border-dark img-thumbnail rounded-circle" src="" /></a>
			</li>

			<li class="nav-item">
				<a asp-action="Index" asp-controller="Sheet" class="nav-link">Hello !</a>
			</li>

			<li>
				<form class="form-inline" action="logout">
					<button type="submit" class="nav-item btn btn-burple">Logout</button>
				</form>
			</li>
		</ul>
	</Authorized>

	<NotAuthorized>
		<ul class="navbar-nav">
			<li>
				<a class="nav-item btn btn-burple" href="login?redirectUrl=@NavigationManager.ToBaseRelativePath(NavigationManager.BaseUri)">Log-in</a>
			</li>
		</ul>
	</NotAuthorized>
</AuthorizeView>

@code{

}