<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
	<div class="container">
		<a class="navbar-brand" href="/">
			<img src="img/Logo.png" height="35" alt="DiscordTop RPG" />
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
			<LoginPartial/>
			<ul class="navbar-nav flex-grow-1">
				<li class="nav-item">
					<NavLink class="nav-link" href="/">Home</NavLink>
				</li>
				<li class="nav-item">
					<NavLink class="nav-link" href="myhome">My Creations</NavLink>
				</li>
				<li class="nav-item">
					<NavLink class="nav-link" href="rulebook">Core Rulebook</NavLink>
				</li>
				<li class="nav-item">
					<NavLink class="nav-link" href="homebrew">User Creations</NavLink>
				</li>
			</ul>
		</div>
	</div>
</nav>

@code {


}
