@page "/characters"
@inject CharacterService Service
@inject UserManager<DiscordUser> UserManager
@attribute [Authorize]
<h3>My characters </h3>

<div>
	<button class="btn btn-success" @onclick="NewCharacter">New Character</button>
</div>

@code {

	[CascadingParameter] Task<AuthenticationState> authenticationState { get; set; }
	private DiscordUser User { get; set; }
	private List<Character> Characters { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var authstate = await authenticationState;
		User = await UserManager.GetUserAsync(authstate.User);
		Characters = await Service.GetUserCharacters(User.Id);
	}

	private async Task NewCharacter()
	{
		
	}
}
