@page "/character/{id:int}"

<CascadingValue Name="Character" Value="this">
	<AuthorizeView>
		@if (C == null)
		{
			<div class="d-flex justify-content-center">
				<div class="spinner-border text-burple" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		}
		else
		{
			if (C.Legacy)
			{
				<LCharacter />
			}
			else
			{
				<Character />
			}
		}
	</AuthorizeView>
</CascadingValue>
@code{ 
	[Parameter] public DiscordTopRPG.Data.Character C { get; set; }
}
